/*main*/
#main_area{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);width:1000px;}
	.main_con{min-height:0;padding:0;}
		/* Tutorial */
		main .main_content{animation-duration:3000ms !important;}
		main .main_imgs{display:flex;justify-content:space-between;}
		main .main_imgs .main_box1{width:50%;}
		main .main_imgs .main_box2{width:50%;}
		main .content{margin:30px auto 0;animation-duration:1500ms !important;}
		main h2{font-size:60px;line-height:100%;}
		main audio{width:100%;background:#fff;}
/*end main*/
